				@font-face {
					font-family: 'knockout31';
					src: url('1685Knockout31.woff2') format('woff2'),
						url('1685Knockout31.woff') format('woff');
					  font-display: auto;
				}

				.knockout31{font-family: 'knockout31' !important;}

						@font-face {
					font-family: 'knockout51';
					src: url('8965Knockout51.woff2') format('woff2'),
						url('8965Knockout51.woff') format('woff');
					  font-display: auto;
				}

				.knockout51{font-family: 'knockout51' !important;}

						@font-face {
					font-family: 'knockout66';
					src: url('3579Knockout66.woff2') format('woff2'),
						url('3579Knockout66.woff') format('woff');
					  font-display: auto;
				}

				.knockout66{font-family: 'knockout66' !important;}

						@font-face {
					font-family: 'knockout71';
					src: url('9791Knockout71.woff2') format('woff2'),
						url('9791Knockout71.woff') format('woff');
					  font-display: auto;
				}

				.knockout71{font-family: 'knockout71' !important;}

						@font-face {
					font-family: 'knockout74';
					src: url('8710Knockout74.woff2') format('woff2'),
						url('8710Knockout74.woff') format('woff');
					  font-display: auto;
				}

				.knockout74{font-family: 'knockout74' !important;}

						@font-face {
					font-family: 'knockout34';
					src: url('768knockout34.woff2') format('woff2'),
						url('768knockout34.woff') format('woff');
					  font-display: auto;
				}

				.knockout34{font-family: 'knockout34' !important;}

		